body{
    background-image: url('https://discuss.codingblocks.com/uploads/default/original/2X/8/891ee9a180d14aa4cb2f71100d7b3a987215d384.jpg');
    background-size: cover;
    
    }

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
        color: black;
        font-weight: bold;
        font-style: normal;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    }

    p , ul, li{
     
        font-size: 20px;
        font-weight: bold;
        color: rgb(16, 1, 15);
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 140px;
        
       
        
    }

    .play-button {
        display: inline-block;
        padding: 20px 40px;
        background-color: #2502022c;
        color: white;
        font-size: 25px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        text-decoration: none;
        margin-top: 60px;
        margin-left: 400px;
    }
    .play-button:hover {
        background-color: #f15b5e;
    }

    .play-button2 {
        display: inline-block;
        padding: 20px 40px;
        background-color: #0d01012c;
        color: white;
        font-size: 25px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        text-decoration: none;
        margin-top: 60px;
        margin-left: 470px;
    }
    .play-button2:hover {
        background-color: #f15b5e;
    }
    @media only screen and (max-width: 600px) {
        h1 {
            font-size: 20px;
            margin-top: 30px;
        }
        p,
        ul,
        li {
            font-size: 16px;
            margin-left: 20px;
        }
        .play-button,
        .play-button2 {
            padding: 15px 30px;
            font-size: 20px;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
    
    /* Media query for laptop screens and larger */
    @media only screen and (min-width: 601px) {
        .play-button,
        .play-button2 {
            margin-left: 400px;
        }
        .play-button2 {
            margin-left: 470px;
        }
    }